<!-- <div class="d-flex justify-content-between align-items-center">
    <span>{{ todo }}</span>
    <button mat-raised-button color="warn" (click)="onRemove()">Remove</button>
  </div>
   -->
   <div class="col-12 row item my-2">
    <div class="col-9 col-sm-10 content d-flex align-items-center p-3 rounded bg-light"
        style="border-left: 2px solid #1524b2;">
        <span>{{ todo }}</span>

    </div>
    <div class="col-2 actions d-flex  align-items-center ">
        <button mat-raised-button color="warn" (click)="onRemove()">Remove</button>
      </div>
</div>